.aside{
    overflow: hidden;
    padding-top: 5rem;
    width: 208px;
    max-width: 208px;
    min-width: 208px;
    /* flex: 0 0 208px; */
    position: fixed;
    top:0;
    left: 0;
    z-index: 1;
    height: 100%;
    box-shadow: 2px 0 8px 0 rgba(29,35,41,0.05);
    background-color: #fff;
}

.sidebar{
    display: flex;
    flex-direction: column;
    height: 100%;
}
.sidebarItems{
    flex: 1 1 0%;
    overflow: hidden auto;
}
.sidebarList{
    position: relative;
    padding: 0;
    /* // z-index: 10;
    // min-height: 100%; */
}