
.main{
    position: fixed;
    display: flex;
    width: 100%;
    height: 100%;
    z-index: 1000;
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.75);
}

  
.modal {
    position: fixed;
    top: 15vh;
    left: 5%;
    width: 90%;
    background-color: white;
    padding: 1rem;
    border-radius: 14px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    z-index: 150;
    animation: slide-down 300ms ease-out forwards;
}
@media (min-width: 768px) {
    .modal {
      width: 40rem;
      left: calc(50% - 20rem);
    }
}
  
@keyframes slide-down {
    from {
      opacity: 0;
      transform: translateY(-3rem);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
}
.title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* // font-familfonty: $font-family; */
    /* // font-size: $-size--large; */
    font-weight: 600;
    font-style: normal;
    text-align: left;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    /* // background-color: aqua; */
}
